li.nav-item 
{
  	margin-top: 45px;
}

a.nav-link
{
	font-family: "Archivo Narrow";
	font-size: 20px;
	color: #222222;
	text-decoration: none;
	white-space: nowrap

}

.borda:hover
{
  	border-bottom: solid 3px #222222;
  	margin-top: 50px;
  	border-image: linear-gradient(to right, #A10D0D 50%,#222222 50%);
  	border-image-slice: 1;
  	border-width: 6px;
}

.nav-link:hover 

{
  	color:#b29827;
}

.navbar-brand 
{
	padding-left: 13px;
}

video 
{
	width: 100%;
	height: auto;
}

.fundo
{
	background-image: url(../banner2.png); 
	background-size: cover; 
	background-repeat:no-repeat;
	width: 100%;
	height:410px;	
}

.fundo:hover 
{
	transform: scale(1.02,1.02);
}

.fundo h2 
{
	font-family: "Teko";
	font-size: 50px;
	color: black;
  	-webkit-text-fill-color: white; 
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: #222222;
}

.container h1 
{
	padding-top: 20px;
	font-family: "Oswald";
	font-size: 50px;
	color: black;
  	-webkit-text-fill-color: white;
  	-webkit-text-stroke-width: 0.5px;
  	-webkit-text-stroke-color: #A10D0D;
}

#jog 
{
	background-size: contain; 
	background-repeat:no-repeat;
	max-width: 1920px;
	width:400px;
	height:320px;
	margin-top: 66px;
}

#sociobotao 
{
    background-color: #F1F1F1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#sociobotao:hover 
{
	color: #f1f1f1;
    background-color: #222222;
}

.botao 
{
	background-color: transparent;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 0px 1px 5px 1px;
}

.botao input {display: none;}

.botao .fas {
	background: white; color:#222222; 
	border-radius: 100%; 
	margin-top: 15px;
	transition: all .2s ease-in;
	font-size: 1.7em
}

.botao input:checked + .fas { 
	color:#222222;
	font-size: 2.6em;
	transition: all .2s ease-out;
	text-shadow: 1px 1px 6px #e2a624
}

.botao input:checked {border: solid 2px #e2a624 }

/*Calendario*/

.times img 
{
  width: 100%;
  height: 100%;
}

.content-img{
  float: left;
  position:relative;
  width: auto;
  min-height: 300px;
  overflow: hidden;
}

.title-img h3{margin: 0 0 10px 0;}
.title-img span:first-of-type{font-weight: bold}

.title-img{
  display:flex;
  flex-direction: column;
  color:#fff;
  padding: 25px 20px;
  font-family: sans-serif;
  position:absolute;
  top:245px;
  width:100%
}

.bg-title{
  background-color:#222222;
  position:absolute;
  top:250px;
  width:300px;
  height: 200px;
  transform: rotate();
}

.bg-content i{
  background-color:transparent;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  color: transparent;
  font-size:2.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  color:#fff;
  opacity:0.8;
}

#casa{
  background-color:transparent;
  position:absolute;
  top:0;
  width:40%;
  height:auto;
  font-size:2.5em;
  font-weight: bold;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 55px;
  color:#fff;
  opacity:1;
  margin-left:10px;
}

#fora{
  background-color:transparent;
  position:absolute;
  top:0;
  width:40%;
  height:auto;
  font-size:2.5em;
  font-weight: bold;
  display: flex;
  align-items: right;
  justify-content: right;
  margin-top: 55px;
  color:#fff;
  opacity:1;
  margin-left:190px;
}

#saopaulofora{
  background-color:transparent;
  position:absolute;
  top:0;
  width:30%;
  height:auto;
  font-size:2.5em;
  font-weight: bold;
  display: flex;
  align-items: right;
  justify-content: right;
  margin-top: 55px;
  color:#fff;
  opacity:1;
  margin-left: 190px;
}

#saopaulocasa 
{
background-color:transparent;
  position:absolute;
  top:0;
  width:30%;
  height:auto;
  font-size:2.5em;
  font-weight: bold;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 55px;
  color:#fff;
  opacity:1;
  margin-left:10px;
}


.content-img:hover .title-img,
.content-img:hover .bg-title{
   top:170px;
   transition: all .3s ease-out;
   background-color: #222222
}

.content-img:hover .bg-content i{
   transition: background .3s ease-in;
   color: #fff;
   background-color:#222222;
   opacity:0.3;
}

.bg-content, .bg-title, .title-img {
  transition: all .3s ease-out;
}

#botaoingresso
{
    background-color: #F1F1F1;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#botaoingresso:hover 
{
	color: #f1f1f1;
    background-color: #A10D0D;
}

.carousel-caption h2 
{	
	text-shadow:2px 2px 4px rgba(0,0,9,9);
	font-family:Archivo Narrow;
	font-weight: bold;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 0.1px;
  	-webkit-text-stroke-color: #222222;
}

iframe 
{
	width:100%;
	height:320px;
}

.fa-play:hover {
    text-shadow: 0px 0px 6px;
}

.fa-shopping-cart:hover 
{
	text-shadow: 0px 0px 6px white;
}

#tportal 
{
	font-size:40px;
	margin-bottom: 28px;
	color:#f1f1f1;
	padding-top: 20px;
	font-family:Oswald;
}

/*Slider Loja*/

#camisa 
{
  width: 100%;
  height: 100%;
  transition: all ease-out .2s
}

#camisa:hover 
{
  background-color: #222222;
  transition: all ease-in .2s;
}

#textocompre 
{
  transition: all .3s ease-out;
  color:black;
}

#textocompre:hover 
{
  transition: all .1s ease-in;
  color: white;
}

#compre 
{
  transition: all .3s ease-out;
  margin-bottom: 10px;
}

#compre:hover 
{
  background-color: #A10D0D;
  transition: all .3s ease-in;
  color: white;
}

/**/

.fa-users:hover 
{
  text-shadow: 0px 0px 6px white;
}

.fab 
{
  transition: all ease-out .1s
}

.fab:hover 
{
  transition: all ease-in .1s;
  color:#A10D0D;
}

/*Player*/

.container-audio {
    width: 100%;
    height: auto;
    background-color: #222222;
    color: #222222;
    overflow: hidden;
}
audio {
  width:100%;
  background-color: #222222
}